body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

a {
  height: 100%;
  width: 100%;
  display: block;
  position:absolute;
  top: 0px;
  text-decoration: none;
  color: black;
  z-index: 1;
}

.arrow {
  height: 10px;
  width: 10px;
}

.heart {
  height: 24px;
  width: 24px;
  stroke: white;
  fill: rgba(0, 0, 0, .5);
}

.star {
  fill: rgb(255, 56, 92);
  height: 14px;
  width: 14px;
  margin-right: 4px;
}

.listings-scroll::-webkit-scrollbar {
  display: none;
}

h2 {
  margin: 0;
  font-size: 1.4em;
  font-weight: 500;
}

.prev {
  margin-right: 6px;
}

.next {
  margin-left: 6px;
}

.listings-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}